<a href="https://colab.research.google.com/github/sintan89/Practice/blob/main/Practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
csv_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/shopping_data.csv")

#Untuk menampilkan data
print(csv_data.head())

#Untuk melakukan akses data kolom
print(csv_data['Age'])

#Untuk manampilkan data dari suatu baris
print(csv_data.iloc[5])

#Untuk menampilkan suatu data dari baris dan kolom tertentu
print(csv_data['Age'].iloc[1])

#Untuk menampilkan data dalam range tertentu
print("Menampilkan data ke 3 sampai kurang dari 10 dalam satu baris :")
print(csv_data.iloc[3:10])

#Fungsi describe() digunakan untuk mengetahui informasi statistik dataset secara cepat, ['O'] mengabaikan data non numerical
print(csv_data.describe(exclude=['O']))

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
0      19
1      21
2      20
3      23
4      31
       ..
195    35
196    45
197    32
198    32
199    30
Name: Age, Length: 200, dtype: int64
CustomerID                     6
Genre                     Female
Age                           22
Annual Income (k$)            17
Spending Score (1-100)        76
Name: 5, dtype: object
21
Menampilkan data ke 3 sampai kurang dari 10 dalam satu baris :
   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
5           6  Female   22                  17                      76
6           7  Female   35                  18                       6
7           8  Female   23                  18                      94
8           9    Male   64                  19                       3
9          10  Female   30                  19                      72
       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000