<a href="https://colab.research.google.com/github/sintan89/Practice/blob/main/Practice3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
csv_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/shopping_data_missingvalue.csv")

#Handling missing values
print(csv_data.isnull().values.any())
print(csv_data.mean())
print("Data yang masih terdapat nilai kosong ! :")
print(csv_data.head(10))
print("Dataset yang sudah diproses Handling Missing Values dengan Mean :")
print(csv_data.fillna(csv_data.mean()))
dataset=pd.DataFrame({'Customer ID':array[:,0],'Gender':array[:,1],'Age':array[:,2],'Income':array[:,3],'Spending Score':array[:,4]})

True
CustomerID                100.500000
Age                        38.939698
Annual Income (k$)         61.005051
Spending Score (1-100)     50.489899
dtype: float64
Data yang masih terdapat nilai kosong ! :
   CustomerID   Genre   Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male  19.0                15.0                    39.0
1           2    Male   NaN                15.0                    81.0
2           3  Female  20.0                 NaN                     6.0
3           4  Female  23.0                16.0                    77.0
4           5  Female  31.0                17.0                     NaN
5           6  Female  22.0                 NaN                    76.0
6           7  Female  35.0                18.0                     6.0
7           8  Female  23.0                18.0                    94.0
8           9    Male  64.0                19.0                     NaN
9          10  Female  30.0                19.0                    72.0
Dataset yang sudah diproses Handling Missing Values dengan Mean :
     CustomerID   Genre        Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male  19.000000           15.000000               39.000000
1             2    Male  38.939698           15.000000               81.000000
2             3  Female  20.000000           61.005051                6.000000
3             4  Female  23.000000           16.000000               77.000000
4             5  Female  31.000000           17.000000               50.489899
..          ...     ...        ...                 ...                     ...
195         196  Female  35.000000          120.000000               79.000000
196         197  Female  45.000000          126.000000               28.000000
197         198    Male  32.000000          126.000000               74.000000
198         199    Male  32.000000          137.000000               18.000000
199         200    Male  30.000000          137.000000               83.000000

[200 rows x 5 columns]